


<div class="container">
    

            <table class="table table-striped">
                <thead>
                    <tr >
                        <th>Index</th>
                        <th>Product Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i=index" >
                        <td>{{i+1}}</td>
                        <td>{{product.name}}</td>  
                    </tr>
                </tbody>
            </table>
</div>






